{% extends 'base.html.twig' %}

{% block body %}
    <h1>SettingsMenyraVjeljes</h1>

    <table>
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ settingsMenyraVjelje.id }}</td>
            </tr>
            <tr>
                <th>Menyravjeljes</th>
                <td>{{ settingsMenyraVjelje.menyraVjeljes }}</td>
            </tr>
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('settingsmenyravjeljes_index') }}">Back to the list</a>
        </li>
        <li>
            <a href="{{ path('settingsmenyravjeljes_edit', { 'id': settingsMenyraVjelje.id }) }}">Edit</a>
        </li>
        <li>
            {{ form_start(delete_form) }}
                <input type="submit" value="Delete">
            {{ form_end(delete_form) }}
        </li>
    </ul>
{% endblock %}
