{% extends 'base.html.twig' %}

{% block body %}
    <h1>MostraPraisKarpofage</h1>

    <table>
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ mostraPraisKarpofage.id }}</td>
            </tr>
            <tr>
                <th>Datapraiskarpofage</th>
                <td>{% if mostraPraisKarpofage.dataPraisKarpofage %}{{ mostraPraisKarpofage.dataPraisKarpofage|date('Y-m-d') }}{% endif %}</td>
            </tr>
            <tr>
                <th>Perqindjefrutaprekuraformategjalla</th>
                <td>{{ mostraPraisKarpofage.perqindjeFrutaprekuraFormategjalla }}</td>
            </tr>
            <tr>
                <th>Perqindjevezetecelura</th>
                <td>{{ mostraPraisKarpofage.perqindjeVezetecelura }}</td>
            </tr>
            <tr>
                <th>Perqindjevezebosh</th>
                <td>{{ mostraPraisKarpofage.perqindjeVezebosh }}</td>
            </tr>
            <tr>
                <th>Ratiofrutanetoketotalpeme</th>
                <td>{{ mostraPraisKarpofage.ratioFrutanetoketotalPeme }}</td>
            </tr>
            <tr>
                <th>Ratiofrutanetokepraispeme</th>
                <td>{{ mostraPraisKarpofage.ratioFrutanetokepraisPeme }}</td>
            </tr>
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('mostrapraiskarpofage_index') }}">Back to the list</a>
        </li>
        <li>
            <a href="{{ path('mostrapraiskarpofage_edit', { 'id': mostraPraisKarpofage.id }) }}">Edit</a>
        </li>
        <li>
            {{ form_start(delete_form) }}
                <input type="submit" value="Delete">
            {{ form_end(delete_form) }}
        </li>
    </ul>
{% endblock %}
