{% extends 'base.html.twig' %}

{% block body %}
    <h1>MostraLastareRinj</h1>

    <table>
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ mostraLastareRinj.id }}</td>
            </tr>
            <tr>
                <th>Datalastarerinj</th>
                <td>{% if mostraLastareRinj.dataLastareRinj %}{{ mostraLastareRinj.dataLastareRinj|date('Y-m-d') }}{% endif %}</td>
            </tr>
            <tr>
                <th>Gjatesiamesatare</th>
                <td>{{ mostraLastareRinj.gjatesiaMesatare }}</td>
            </tr>
            <tr>
                <th>Nrmesatarnyjesh</th>
                <td>{{ mostraLastareRinj.nrMesatarNyjesh }}</td>
            </tr>
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('mostralastarerinj_index') }}">Back to the list</a>
        </li>
        <li>
            <a href="{{ path('mostralastarerinj_edit', { 'id': mostraLastareRinj.id }) }}">Edit</a>
        </li>
        <li>
            {{ form_start(delete_form) }}
                <input type="submit" value="Delete">
            {{ form_end(delete_form) }}
        </li>
    </ul>
{% endblock %}
