{% extends 'base.html.twig' %}

{% block body %}
    <h1>LlojiProduktitKomercial</h1>

    <table>
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ llojiProduktitKomercial.id }}</td>
            </tr>
            <tr>
                <th>Llojiproduktit</th>
                <td>{{ llojiProduktitKomercial.llojiProduktit }}</td>
            </tr>
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('llojiproduktitkomercial_index') }}">Back to the list</a>
        </li>
        <li>
            <a href="{{ path('llojiproduktitkomercial_edit', { 'id': llojiProduktitKomercial.id }) }}">Edit</a>
        </li>
        <li>
            {{ form_start(delete_form) }}
                <input type="submit" value="Delete">
            {{ form_end(delete_form) }}
        </li>
    </ul>
{% endblock %}
