{% extends 'base.html.twig' %}

{% block body %}
    <h1>SettingsArsyejaTipitPunimit</h1>

    <table>
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ settingsArsyejaTipitPunimit.id }}</td>
            </tr>
            <tr>
                <th>Arsyejapunimit</th>
                <td>{{ settingsArsyejaTipitPunimit.arsyejaPunimit }}</td>
            </tr>
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('settingsarsyejatipitpunimit_index') }}">Back to the list</a>
        </li>
        <li>
            <a href="{{ path('settingsarsyejatipitpunimit_edit', { 'id': settingsArsyejaTipitPunimit.id }) }}">Edit</a>
        </li>
        <li>
            {{ form_start(delete_form) }}
                <input type="submit" value="Delete">
            {{ form_end(delete_form) }}
        </li>
    </ul>
{% endblock %}
