{% extends 'AiadBundle:Default:base.html.twig' %}

{% block content %}
    {% include 'AiadBundle:Default:header.html.twig' %}
    {% include 'AiadBundle:Default:left_sidebar.html.twig' %}
    <div class="content-wrapper">
        <!-- Content Header (Page header) -->
        <section class="content-header">
            <h1>Konfigurime</h1>
        </section>

        <!-- Main content -->
        <section class="content">

            <div class="row">
                <div class="col-md-12">

                    <!-- TABLE: LATEST ORDERS -->
                    <div class="box box-info">
                        <div class="box-header with-border">
                            <h3 class="box-title">Shpëndarja e punimit të tokës</h3>
                            <div class="box-tools pull-right">
                                {#<a class="btn btn-info pull-left" href="{{ path('settingsujitje_new') }}">Shto të re</a>#}
                            </div>
                        </div><!-- /.box-header -->
                        <div class="box-body">
                            {{ form_start(edit_form) }}
                            {{ form_widget(edit_form) }}
                            <input class="btn btn-success pull-right" type="submit" value="Modifiko" />
                            {{ form_end(edit_form) }}

                            <a class="btn btn-info pull-left" href="{{ path('settingsshpendarjapunimittokes_index') }}">Kthehu tek lista</a>
                        </div><!-- /.box-body -->
                    </div><!-- /.box -->
                </div>
            </div>
        </section><!-- Main content -->
    </div><!-- content wrapper-->
    {% include 'AiadBundle:Default:right_sidebar.html.twig' %}

{% endblock %}
