{% extends 'base.html.twig' %}

{% block body %}
    <h1>ParcelaIdentifikimi list</h1>

    <table>
        <thead>
            <tr>
                <th>Id</th>
                <th>Emriparceles</th>
                <th>Kodi</th>
                <th>Kordinatax</th>
                <th>Kordinatay</th>
                <th>Lartesia</th>
                <th>Vitiprodhimit</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for parcelaIdentifikimi in parcelaIdentifikimis %}
            <tr>
                <td><a href="{{ path('parcelaidentifikimi_show', { 'id': parcelaIdentifikimi.id }) }}">{{ parcelaIdentifikimi.id }}</a></td>
                <td>{{ parcelaIdentifikimi.emriParceles }}</td>
                <td>{{ parcelaIdentifikimi.kodi }}</td>
                <td>{{ parcelaIdentifikimi.kordinataX }}</td>
                <td>{{ parcelaIdentifikimi.kordinataY }}</td>
                <td>{{ parcelaIdentifikimi.lartesia }}</td>
                <td>{{ parcelaIdentifikimi.vitiProdhimit }}</td>
                <td>
                    <ul>
                        <li>
                            <a href="{{ path('parcelaidentifikimi_show', { 'id': parcelaIdentifikimi.id }) }}">show</a>
                        </li>
                        <li>
                            <a href="{{ path('parcelaidentifikimi_edit', { 'id': parcelaIdentifikimi.id }) }}">edit</a>
                        </li>
                    </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('parcelaidentifikimi_new') }}">Create a new entry</a>
        </li>
    </ul>
{% endblock %}
