{% extends 'base.html.twig' %}

{% block body %}
    <h1>SettingsMjete</h1>

    <table>
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ settingsMjete.id }}</td>
            </tr>
            <tr>
                <th>Mjeti</th>
                <td>{{ settingsMjete.mjeti }}</td>
            </tr>
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('settingsmjete_index') }}">Back to the list</a>
        </li>
        <li>
            <a href="{{ path('settingsmjete_edit', { 'id': settingsMjete.id }) }}">Edit</a>
        </li>
        <li>
            {{ form_start(delete_form) }}
                <input type="submit" value="Delete">
            {{ form_end(delete_form) }}
        </li>
    </ul>
{% endblock %}
