{% extends 'base.html.twig' %}

{% block body %}
    <h1>SettingsUjitje</h1>

    <table>
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ settingsUjitje.id }}</td>
            </tr>
            <tr>
                <th>Ujitjelloji</th>
                <td>{{ settingsUjitje.ujitjeLloji }}</td>
            </tr>
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('settingsujitje_index') }}">Back to the list</a>
        </li>
        <li>
            <a href="{{ path('settingsujitje_edit', { 'id': settingsUjitje.id }) }}">Edit</a>
        </li>
        <li>
            {{ form_start(delete_form) }}
                <input type="submit" value="Delete">
            {{ form_end(delete_form) }}
        </li>
    </ul>
{% endblock %}
