{% extends 'base.html.twig' %}

{% block body %}
    <h1>MostraKocinija</h1>

    <table>
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ mostraKocinija.id }}</td>
            </tr>
            <tr>
                <th>Datakocinija</th>
                <td>{% if mostraKocinija.dataKocinija %}{{ mostraKocinija.dataKocinija|date('Y-m-d') }}{% endif %}</td>
            </tr>
            <tr>
                <th>Ratioadulttegjallejoparazitelastar</th>
                <td>{{ mostraKocinija.ratioAdulttegjallejoparaziteLastar }}</td>
            </tr>
            <tr>
                <th>Ratiotegjallatotallastar</th>
                <td>{{ mostraKocinija.ratioTegjallatotalLastar }}</td>
            </tr>
            <tr>
                <th>Perqindjevezetecelura</th>
                <td>{{ mostraKocinija.perqindjeVezetecelura }}</td>
            </tr>
            <tr>
                <th>Perqindjeterriturparazit</th>
                <td>{{ mostraKocinija.perqindjeTerriturParazit }}</td>
            </tr>
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('mostrakocinija_index') }}">Back to the list</a>
        </li>
        <li>
            <a href="{{ path('mostrakocinija_edit', { 'id': mostraKocinija.id }) }}">Edit</a>
        </li>
        <li>
            {{ form_start(delete_form) }}
                <input type="submit" value="Delete">
            {{ form_end(delete_form) }}
        </li>
    </ul>
{% endblock %}
