{% extends 'base.html.twig' %}

{% block body %}
    <h1>SettingsOrientimi</h1>

    <table>
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ settingsOrientimi.id }}</td>
            </tr>
            <tr>
                <th>Orientimi</th>
                <td>{{ settingsOrientimi.orientimi }}</td>
            </tr>
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('settingsorientimi_index') }}">Back to the list</a>
        </li>
        <li>
            <a href="{{ path('settingsorientimi_edit', { 'id': settingsOrientimi.id }) }}">Edit</a>
        </li>
        <li>
            {{ form_start(delete_form) }}
                <input type="submit" value="Delete">
            {{ form_end(delete_form) }}
        </li>
    </ul>
{% endblock %}
